<?xml version="1.0"?>
<launch>
  <!-- Launch Gazebo with the world -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>

  <!-- Set Gazebo model path -->
  <env name="GAZEBO_MODEL_PATH" value="$(find simple_3dof_arm)/models:$(optenv GAZEBO_MODEL_PATH)"/>

  <!-- Launch Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simple_3dof_arm)/worlds/simple_table_world.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <!-- Load joint controller configurations from YAML file -->
  <rosparam file="$(find simple_3dof_arm)/config/controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/simple_3dof_arm" args="joint_state_controller
                                                  base_position_controller
                                                  shoulder_position_controller
                                                  elbow_position_controller"/>

  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/simple_3dof_arm/joint_state_controller/joint_states" />
  </node>

</launch>
